#!/usr/bin/env bash

#Policy setup
iptables -P INPUT DROP
iptables -P OUTPUT ACCEPT
iptables -P FORWARD ACCEPT

{# FILTERS #}
{% for t in ['input', 'forward', 'output'] %}
iptables -N vagabond-{{ t }}
iptables -F vagabond-{{ t }}
iptables -C {{ t | upper }} -j vagabond-{{ t }} || iptables -A {{ t | upper }} -j vagabond-{{ t }}
{% endfor %}

{#- Allow loopback as long as it's on the correct interface #}
iptables -A vagabond-input -i lo -j ACCEPT
iptables -A vagabond-input -d 127.0.0.0/8 -j REJECT

{#- Allow established connections to continue #}
iptables -A vagabond-input -m state --state ESTABLISHED,RELATED -j ACCEPT

{#- Allow wlan traffic #}
{%- if network.wlan_enabled %}
iptables -A vagabond-input -i {{ network.wlan_interface }} -j ACCEPT
iptables -A vagabond-forward -i {{ network.wlan_interface }} -j ACCEPT
iptables -A vagabond-forward -o {{ network.wlan_interface }} -j ACCEPT
{%- endif %}

{#- Allow lan traffic #}
{%- if network.lan_enabled %}
iptables -A vagabond-input -i {{ network.lan_interface }} -j ACCEPT
iptables -A vagabond-forward -i {{ network.lan_interface }} -j ACCEPT
iptables -A vagabond-forward -o {{ network.lan_interface }} -j ACCEPT
{%- endif %}

{#- Allow wireguard traffic #}
{%- if wireguard.enabled %}
iptables -A vagabond-input -i {{ wireguard.interface }} -j ACCEPT
iptables -A vagabond-forward -i {{ wireguard.interface }} -j ACCEPT
iptables -A vagabond-forward -o {{ wireguard.interface }} -j ACCEPT
{%- endif %}

{# NAT #}
{% for t in ['prerouting', 'input', 'output', 'postrouting'] %}
iptables -t nat -N vagabond-{{ t }}
iptables -t nat -F vagabond-{{ t }}
iptables -t nat -C {{ t | upper }} -j vagabond-{{ t }} || iptables -t nat -A {{ t | upper }} -j vagabond-{{ t }}
{% endfor %}

{# Route external interfaces #}
{%- for iface in network.external_interfaces %}
iptables -t nat -A vagabond-postrouting -o {{ iface }} -j MASQUERADE
{%- endfor %}

{%- if wireguard.enabled %}
iptables -t nat -A vagabond-postrouting -o {{ wireguard.interface }} -j MASQUERADE
{%- endif %}
